extends layout

block content
  p Previous Purchases
  div
    table.table
      thead
        tr 
          th Price
          th Screen Size
          th Memory Size
          th Drive Size
      tbody
        each laptop, i in laptops
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
           td= laptop.cost
           td= laptop.screen
           td= laptop.memory
           td= laptop.drive