html
  head
    title= title
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='qunit.css')
    script(type='text/javascript', src="./scripts/jquery/jquery.js")
    script(type='text/javascript', src="./scripts/underscore/underscore.js")
    script(type='text/javascript', src="./scripts/require.js")      script(type'text/javascript', src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='qunit.js')
    script(type='text/javascript', src="./scripts/main.js")
    script(type='text/javascript', src="./scripts/test.js")
    
  body
    block content
